.sub-div{
    background-color: aqua;
    border-radius: 50px;
    height: 80%; 
    width: 80%;
    padding:20px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px){
    .responsive{
        width: 100% !important;

    }
    .inp-su{
        font-size: small !important;
    }
    img{
        display: none !important;
    }
}

.inp-su{
    padding: 5px 10px;
    font-size: medium;
    border-radius: 10px;
    border: 2px solid rgb(165, 165, 255);
}

.inp-su:focus{
    border: 2px solid rgb(165, 165, 255);
}
button:hover{
    cursor: pointer;
    background-color: rgb(165, 165, 255);
}